<div style="top: 0px;" id="sidebar" class="sidebar">
    <header id="masthead" class="site-header" role="banner">
      <div class="site-branding">
                    <p class="site-title"><a href="#" rel="home">Arrowtown School of Russian Ballet and Creative Arts</a></p>
                      <p class="site-description">Dance and Arts</p>
                  <button class="secondary-toggle"></button>
      </div><!-- .site-branding -->
    </header><!-- .site-header -->

      <div id="secondary" class="secondary">

          <nav id="site-navigation" class="main-navigation" role="navigation">
        <div class="menu-menu-1-container"><ul id="menu-menu-1" class="nav-menu"><li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item menu-item-19"><a href="#">Home</a></li>
<li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="#">About Us</a></li>
<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="#">Aim</a></li>
<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-21"><a href="#">What we offer</a><button class="dropdown-toggle" aria-expanded="false"><span class="screen-reader-text">expand child menu</span></button>
<ul class="sub-menu">
  <li id="menu-item-100" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-100"><a href="#">Ballet</a></li>
  <li id="menu-item-101" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-101"><a href="#">Belly Dancing</a></li>
  <li id="menu-item-102" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-102"><a href="#">Choreography – Classes Outline</a></li>
</ul>
</li>
<li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="#">Staff</a></li>
<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="#">Contact</a></li>
<li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106"><a href="#">Gallery</a></li>
</ul></div>     </nav><!-- .main-navigation -->
    
          <nav id="social-navigation" class="social-navigation" role="navigation">
        <div class="menu-socail-container">
          <ul id="menu-socail" class="menu">
            <li id="menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40"><a href="https://www.facebook.com/pages/Arrowtown-School-of-Russian-Ballet-and-Creative-Arts/1557585091154110?fref=ts"><%= image_tag "fb.jpg", class: "icon" %></a></li>
</ul></div>     </nav><!-- .social-navigation -->
    
          <div id="widget-area" class="widget-area" role="complementary">
        <aside id="search-2" class="widget widget_search"><form role="search" method="get" class="search-form" action="#">
        <label>
          <span class="screen-reader-text">Search for:</span>
          <input class="search-field" placeholder="Search …" value="" name="s" title="Search for:" type="search">
        </label>
        <input class="search-submit screen-reader-text" value="Search" type="submit">
      </form></aside>     </div><!-- .widget-area -->
    
  </div><!-- .secondary -->

  </div>

  
<main class="main-content" role="main"> 

  <header class="entry-header">
    <h1 class="entry-title">Welcome</h1> </header><!-- .entry-header -->

  <div class="entry-content">
    <p><span style="color: #999999;">This will be the future home of Arrowtown School of Russian Ballet and Creative Arts. Here you will be able to find all the information about the school and all the sevices we provide. This is the first school in the Central Otago area which focuses on Russian Classical Ballet, as well as many other styles, and combines not only dance but a whole variety of Performing and Creative Arts. In the meantime you can like us on facebook!</span></p>
  </div><!-- .entry-content -->

</main><!-- .main-content -->
  